<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icone-pagina.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:opsz@6..12&family=Roboto+Slab:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu" id="menubar">
            <img class="logo" onclick="redirectToPage()" title="Ir para Página inicial" src="{{ url_for('static', filename='images/logo.png') }}">
            <h1 onclick="redirectToPage()" title="Ir para Página inicial">Hubble</h1>
        {% block menu %}{% endblock %}
    </div>
    {% if session['notificacao'] %}
        <div class="notificacao">
            <h4 class="titulo-notificacao">{{session['notificacao']}}</h4>
            <br>
            <form method="post" action="{{ url_for('fechar_notificacao') }}">
                <button class="botao-fechar" value="{{session['notificacao']}}">OK</button>
            </form>
        </div>
    {% endif %}
    {% block container %}{% endblock %}
</body>
<script>
    function redirectToPage() {
        // Substitua 'sua_pagina.html' pelo caminho ou URL da página para a qual deseja redirecionar
        window.location.href = '/';
    }
</script>
</html>