{% extends "base.html" %}
<!-- Head -->
{% block title %}
    <title>Pagina inicial</title>
{% endblock %}
<!-- Body -->
{% block menu %}
    <form class="form-voltar" method="post" action="{{ url_for('navegar') }}">
        <button class="botoes-menu" name="menu" value="home">
            Adicionar arquivo
        </button>
        >
        <button class="botoes-menu" name="menu" value="home">
            Selecionar arquivo
        </button>
        >
        <button class="botoes-menu" name="menu" value="home">
            Realizar busca
        </button>
    </form>
{% endblock %}
{% block container %}
    {% if palavra_chave %}
        <h1>{{palavra_chave}}</h1>
    {% endif %}
    {% if total %}
        <h1>{{total}}</h1>
    {% endif %}
    <br>
    {% if arquivo_selecionado %}
        <h1>{{arquivo_selecionado}}</h1>
        <form class="form-voltar" method="post" action="{{ url_for('encontrar_valores') }}">
            <input type="text" name="palavra_chave" placeholder="Digite a palavra-chave">
            <input class="esconder" type="text" id="arquivo_selecionado" name="arquivo_selecionado" value="{{arquivo_selecionado}}">
            <button>
                <img class="icone-botao-slot" src="{{ url_for('static', filename='images/icone-pesquisa.png') }}">
            </button>
        </form>
    {% else %}
        <!-- Arquivos -->
        <form class="form-botoes-arquivos" method="post" action="{{ url_for('buscar_valores') }}">
            {% for arquivo in arquivos_armazenados %}
                <button class="botoes-arquivos" name="arquivo_selecionado" value="{{arquivo}}">{{arquivo}}</button>
                <button class="botao-excluir-arquivos" name="arquivo_selecionado" value="excluir-{{arquivo}}">
                    <img src="{{ url_for('static', filename='images/icone-excluir.png') }}">
                </button>
            {% endfor %}
        </form>
        <br>
        <form class="form-dropzone" method="post" enctype="multipart/form-data" action="{{ url_for('uploadDrop') }}">
            <div class="dropzone" title="Selecionar arquivo" id="dropzone" ondragenter="handleDragEnter(event)" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)" ondrop="handleDrop(event)">
                <h3>Arraste e solte o arquivo aqui</h3>
                <h3>ou</h3>
                <label for="arquivo" class="label-upload">
                    <img id="icone-botao-upload" src="{{ url_for('static', filename='images/icone-upload.png') }}"><br>
                    <a id="botao-upload">Encontrar arquivo</a>
                </label>
                <input type="file" name="file" id="arquivo" style="display:none" onchange="atualizarBotaoTexto(this)">
            </div>
            <button type="submit" class="botao-salvar-slot" name="botaoSalvar" value="{{file}}" title="Salvar arquivo carregado">
                <img class="icone-botao-slot" src="{{ url_for('static', filename='images/icone-salvar.png') }}">
            </button>
        </form>
    {% endif %}
    <script>
        function handleDragOver(event) {
          event.preventDefault();
        }
        function handleDragEnter(event) {
          event.preventDefault();
          document.getElementById('dropzone').classList.add('dragging');
        }
        
        function handleDragLeave(event) {
          event.preventDefault();
          document.getElementById('dropzone').classList.remove('dragging');
        }
        
        function handleDrop(event) {
          event.preventDefault();
          
          var file = event.dataTransfer.files[0];
          var formData = new FormData();
          formData.append('file', file);
          
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/uploadDrop', true);
          
          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              var mensagem = 'Arquivo enviado com sucesso!';
              alert(mensagem);
              location.reload();
              //alert(xhr.responseText);
            }
          };
          
          xhr.send(formData);
          document.getElementById('dropzone').classList.remove('dragging');
          
          // Lógica para lidar com o arquivo solto
          var file = event.dataTransfer.files[0];
          console.log('Arquivo:', file.name);
          
        }
    </script>
    <script>
        function atualizarBotaoTexto(input) {
            var nomeArquivo = input.files[0].name;
            document.getElementById('botao-upload').innerText = 'Enviar "' + nomeArquivo + '"';
            // Obtém o elemento de imagem pelo ID
            var imagem = document.getElementById('icone-botao-upload');

            // Novo caminho da imagem
            var novoCaminho = "{{ url_for('static', filename='images/icone-salvar.png') }}";

            // Altera dinamicamente o caminho da imagem
            imagem.src = novoCaminho;
        }
    </script>
{% endblock %}