body {
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    color: #3034BE;
    margin: 0;

    font-family: 'Anton', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

button {
  width: 50px;
  height: 50px;
  color: #fff;
  border: 2px solid #3034BE;
  border-radius: 40px;
  background-color: transparent;
}


.esconder{display: none;}

.loading{
    width: 100%;
    height: 100%;
    background-color: #3034BE;
    display: none;
    position: absolute;
    z-index: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 300px 0;
}
.loading h1, .loading h2 {
    color: #fff;
}

.notificacao{
    position: absolute;
    top: 100px;
    margin-left: 33%;
    width: 33%;
    min-height: 80px;
    padding: 20px;
    background-color: #ffffff;
    color: #3034BE;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: #3034BE 0px 5px 30px, rgba(0, 0, 0, 0.24) 0px 1px 0px;
}
.titulo-notificacao{
    margin-top: 0;
}
.notificacao{
  display: block;
}

.botao-fechar{
    background-color: #3034BE;
    width: 50px;
    height: 30px;
    color: #fff;
    font-weight: bold;
}

.fundo-branco{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    align-items: center;
    text-align: center;
}


.form-adicionar{
    display: inline-block;
    height: 500px;
}
.form-adicionar input {
    margin: 10px;
    width: 500px;
}
.form-adicionar textarea {
    width: 600px;
    height: 100px;
    text-align: center;
    line-height: 25px;
    padding-inline: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo{
    width: 80px;
    height: auto;
    left: 0;
    top: 0;
    padding: 0.5px 10px;
    background-color: #6c6fc2;
    border-radius: 0px;
    /**/
    background-color: #fff;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #3034BE;
    color: #3034BE;
    display: flex;
    margin: 0;
    align-items: center;
    text-align: center;
    /**/
    background-color: #fff;
    color: #3034BE45;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.menu h1{
    color: #3034BE;
    padding-right: 30px;
}

.menu .botao-color{
  position: absolute;
  right: 2px;
  margin-top: 0;
}

.botoes-menu{
    width: auto;
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 0px 40px;
    border: 0;
    color: #ffffffab;
    /**/
    color: #3034BE;
    

}
.botoes-menu:hover{
    color: #ffffff;
    /**/
    color: rgb(111, 114, 208);
}

.form-dropzone {
    align-items: center;
    text-align: center;
    width: 50%;
}
.dropzone {
    margin-left: 10%;
    width: 80%;
    height: 180px;
    background-color: #ffffff45;
    border: 2px dashed #3034BE;;
    align-items: center;
    text-align: center;
    border-radius: 40px;
}

.dropzone:hover {
    margin-left: 10%;
    background-color: #3034BE45;
    border: 2px solid #3034BE;;
    align-items: center;
    text-align: center;
    border-radius: 40px;
}

img {
    width: 20px;
    height: auto;
}

.botao-salvar-slot{
  background-color: #3034BE;

}
.botao-salvar-slot:hover {
  background-color: #393fe0;
}

input, textarea {
    width: 250px;
    height: 40px;
    border: 2px solid #3034BE;
    border-radius: 20px;
    background-color: transparent;
    color: #3034BE;
    outline: none;
    text-align: center;
    padding: 0;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
input::placeholder, textarea::placeholder {
    color: #3035be88;
}

.container{
    display: flex;

}

.form-botoes-arquivos{
    align-items: center;
    text-align: center;
    width: 50%;
}

.botoes-arquivos{
    width: 60%;
    height: 40px;
    border: 2px solid #3034BE;
    outline: none;
    background-color: transparent;
    color: #3034BE;
    transition: 0.2s;
}

.botao-excluir-arquivos{
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    outline: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #000000;
    transition: 0.2s;
}
.botao-excluir-arquivos img {
    width: 20px;
    height: 20px;
    position: relative;
}

.botoes-arquivos:hover, .botao-excluir-arquivos:hover{
    color: #fff;
    background-color: #3034BE;
}

.invisivel{
    color: transparent;
    background-color: transparent;
    border: 0;
}

.nome-arquivo{
    font-size: 15px;
    color: #000000;
}

.imagem-tipo {
    width: 80px;
    height: auto;
}
.botao-sem-borda{
    width: 90px;
    height: auto;
    border: 0;
}

/* Esconder input do tipo file */
input[type="file"] {
    display: none;
}

/* Estilizar o botão personalizado */
.botao-personalizado {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilizar o rótulo para o campo de upload */
.label-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffffff80;
    border-radius: 40px;
    color: #000000;
    cursor: pointer;
    transition: 0.2s;
}

.label-upload:hover {
    background-color: #ffffff;
}

/* Filtros */

.form-botoes-filtros button, .form-botoes-filtros botao-filtros{
  width: 500px;
}

.botao-filtros {
    width: 180px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid #3034BE ;
    color: #3034BE;
    font-weight: bold;
    border-radius: 40px;
    transition: 0.2s;
    max-width: 170px; /* Defina a largura máxima desejada para o botão */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.botao-filtros:hover {
    background-color: #3034BE;
    color: #fff;
}

.botao-color{
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    background-color: #3034BE;
    border: 2px solid #3034BE ;
    color: #fff;
    font-weight: bold;
    border-radius: 40px;
    margin: 10px;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
}

.left, .right{
    display: block;
    align-items: center;
    text-align: center;
    width: 45%;
    height: auto;
    margin: 2.5%;
    padding-bottom: 20px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.down {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.botao-color:hover{
    background-color: #393fe0;
}

table {
    width: 95%;
    margin: 2.5%;
}
table tr th{
    background-color: #3034BE;
    color: #fff;
    width: 45%;
    height: 40px;
}
table tr td {
    align-items: center;
    text-align: center;
    width: 45%;
    border: 1px solid #dddddd;
}
table tr:hover {
    background-color: #3034BE20;
}
table tr td form{
    width: 100%;
}

.botao-tabela {
  color: #3034BE;
  align-items: center;
  width: 35%;
  border: 0;
  transition: 0.2s;
}
.botao-tabela:hover {
  width: 40%;
  border: 0;
}
.botao-tabela img {
  width: 100%;
}

.linha-valores{
  height: 40px;
}

/* Tabela detalhes */

.tabela-detalhes {
  width: 95%;
  margin: 2.5%;
}
.tabela-detalhes tr th{
  background-color: #3034BE;
  color: #fff;
  width: 25%;
  height: 40px;
}
.tabela-detalhes tr td {
  align-items: center;
  text-align: center;
  width: 25%;
  height: 40px;
  border: 1px solid #dddddd;
}
.tabela-detalhes tr:hover {
  background-color: #3034BE20;
}
.tabela-detalhes tr td form{
  width: 100%;
}

.total {
  width: 30%;
  margin-left: 35%;

  align-items: center;
  text-align: center;
  border: 2px solid #3034BE;
  border-radius: 20px;
  display: flex;
}

.total h2 {
  width: 30%;
  height: auto;
  padding: 10px 0px;
  margin: 0;
  border-radius: 16px 0px 0px 16px;
  background-color: #3034BE;
  color: #fff;
}
.input-total {
  border-radius: 0px 0px 20px 20px;
  border: 0;
  width: 60%;
  font-size: 30px;
}
.total img{
  width: 5%;
  opacity: 0.5;
  margin: 0;
  transition: 0.2s;
}
.total img:hover{
  opacity: 1;
}

/* Login */

.container-home{
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #3034BE;
}

.bloco div{
  margin: 5% 30%;
  padding: 15px;
  position: absolute;
  z-index: 1;
  width: 40%;
  height: auto;
  background: linear-gradient(to bottom, #ffffff45, #ffffff10);
  border: 2px solid #ffffff8a;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000077;
}
.bloco div h1, .bloco div h2, .bloco div h3{
  color: #fff;
}
.bloco div img{
  opacity: 1;
  width: 80px;
}

.container-home img{
  width: 100%;
  height: auto;
  opacity: 0.2;
  /**/
  opacity: 0.5;
  z-index: 10;
}
.planos{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  padding: 20px 0px;
}
.planos .plano{
  padding: 15px;
  margin: 10px;
  width: 150px;
  height: 250px;
  /*background: linear-gradient(to bottom, #ffffffab, #ffffff10);*/
  background-color: #3034BE;
  border: 2px solid #ffffff8a;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000077;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  text-align: center;
}
.planos .plano h1,.planos .plano h2, .planos .plano h3, .planos .plano h4, .planos .plano h5{
  margin: 6px;
}

.planos .plano div {
  height: 80%;
}

.planos .plano button{
  width: 100px;
  border: 1px solid #fff;
  font-weight: bold;
  transition: 0.2s;
}
.planos .plano button:hover{
  padding-top: 2px;
  color: #3034BE;
  background-color: #ffffff;
  scale: 1.1;
}

.container-login{
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.form-login{
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.form-login input{
  border: 1px solid #fff;
  color: #fff;
}

.form-login .botao-color{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.2s;
}

.form-login .botao-color:hover{
  background-color: #ffffff;
  color: #393939;
}


/* Checkbox To Do */
.checkbox-wrapper-11 {
    --text: #414856;
    --check: #4F29F0;
    --disabled: #C3C8DE;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    position: relative;
    padding: 5px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
  }
  .checkbox-wrapper-11 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: color 0.3s ease;
  }
  .checkbox-wrapper-11 label::before,
  .checkbox-wrapper-11 label::after {
    content: "";
    position: absolute;
  }
  .checkbox-wrapper-11 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
  }
  .checkbox-wrapper-11 label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
  }
  .checkbox-wrapper-11 input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
  }
  .checkbox-wrapper-11 input[type=checkbox]::before, .checkbox-wrapper-11 input[type=checkbox]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
  }
  .checkbox-wrapper-11 input[type=checkbox]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
  }
  .checkbox-wrapper-11 input[type=checkbox]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked::before {
    -webkit-animation: check-01-11 0.4s ease forwards;
            animation: check-01-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked::after {
    -webkit-animation: check-02-11 0.4s ease forwards;
            animation: check-02-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label {
    color: var(--disabled);
    -webkit-animation: move-11 0.3s ease 0.1s forwards;
            animation: move-11 0.3s ease 0.1s forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label::before {
    background: var(--disabled);
    -webkit-animation: slice-11 0.4s ease forwards;
            animation: slice-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label::after {
    -webkit-animation: firework-11 0.5s ease forwards 0.1s;
            animation: firework-11 0.5s ease forwards 0.1s;
  }

  @-webkit-keyframes move-11 {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }

  @keyframes move-11 {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }
  @-webkit-keyframes slice-11 {
    60% {
      width: 100%;
      left: 4px;
    }
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  @keyframes slice-11 {
    60% {
      width: 100%;
      left: 4px;
    }
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  @-webkit-keyframes check-01-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
  @keyframes check-01-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
  @-webkit-keyframes check-02-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }
  @keyframes check-02-11 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }
  @-webkit-keyframes firework-11 {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
  }
  @keyframes firework-11 {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
  }

  /* Loading */
  .custom-loader {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #F4F4F4;
    animation:
      s10-1 0.8s infinite linear alternate,
      s10-2 1.6s infinite linear;
  }
  @keyframes s10-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes s10-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }

/* Login fundo */

  .fundo-gradiente{
    width: 100%;
    height: 80vmax;
    background: linear-gradient(90deg,#3034BE,#1500ff);
    position: absolute;
    z-index: 2;
    align-items: center;
    text-align: center;
}


  
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

.blob {
  position: relative;
  top: 0;
  left: 0;
  /*fill: #ffffff42;*/
  fill: none;
  stroke: #ffffff50;
  stroke-width: 2px;
  width: 30vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); stroke: #ffffff00; fill: #ffffff7a;}
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); stroke: #ffffff50; fill: #ffffff00;}
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); stroke: #ffffff00; fill: #ffffff7a;}
}